{% load static %}
{% load humanize %}
{% load cloudinary %}
{% load chat %}
{% load i18n %}


{% for notif in qs %}
{% if notif.from_user != request.user and notif.to_user == request.user %}
<div class="box-notif {% if notif.bg_seen == False %}bg_seen{% endif %}">
  {% if notif.bg_seen == False %}
  <span id="bg_seen"></span>
  {% endif %}

  <a href="{% url 'profiles:profile' pseudo=notif.from_user.profile.pseudo  %}">
    <img src="
      {% if notif.from_user.profile.is_fixture %}
        {{ notif.from_user.profile.img_profile_str }}
      {% else %}
        {% if notif.from_user.profile.img_profile %}
          {{ notif.from_user.profile.img_profile.url }}
        {% else %}
          {% static 'home/img/default-img-profile.jpg' %}
        {% endif %}
      {% endif %}
      ">
  </a>
  <a href="{% url 'notifications:seen' id=notif.id %}">
    <div class="info-notif">
      <strong>{{ notif.from_user.first_name }} {{ notif.from_user.last_name }}</strong>
      <p>
        {% if notif.type_notif == 'Add_Post' %}
        {% translate 'a ajouté un nouveau post' %}: {{notif.post.message}}
        {% elif notif.type_notif == 'Like_Post' %}
        {% translate 'a aimé votre post' %} : {{notif.post.message}}
        {% elif notif.type_notif == 'Add_Comment' %}
        {% translate 'a commenté votre post' %}: {{notif.post.message}}
        {% elif notif.type_notif == 'invitation_send' %}
        {% translate 'souhaite rejoindre à votre réseau' %}
        {% elif notif.type_notif == 'invitation_accepted' %}
        {% translate 'a accepté votre invitation et vous êtes maintenant amis sur Mackdin' %}
        {% elif notif.type_notif == 'seen_profile' %}
        {% translate 'a consulté votre profil' %}
        {% endif %}
      </p>
      <em>{{ notif.date_created|naturaltime|timestr }}</em>
    </div>
  </a>
</div>
<hr>
{% endif %}
{% endfor %}