{% load static %}

<script>

  // $(document).ready(function () {
  //     $(".form-comment").submit(function (e) {
  //         e.preventDefault();

  //         const post_id = $(this).attr("title");
  //         const url = $(this).attr("action");

  //         const aside_comment = $(`#aside-comment-${post_id}`);
  //         const input_text_comment = $(`#input_message_comment-${post_id}`);
  //         const input_hidden_post_comment = $(
  //             `#input_hidden_post_comment-${post_id}`
  //         );

  //         // console.log($(`.form-comment > input[name=csrfmiddlewaretoken]`).val());
  //         console.log("{{csrf_token}}");
  //         console.log(input_hidden_post_comment.val());
  //         console.log(input_text_comment.val());
  //         console.log(url);

  //         $.ajax({
  //             type: "POST",
  //             url: url,
  //            
  //             data: {
  //                 // 'csrfmiddlewaretoken': $(`.form-comment > input[name=csrfmiddlewaretoken]`).val(),
  //                 "csrfmiddlewaretoken": "{{csrf_token}}",
  //                 'post_id': input_hidden_post_comment.val(),
  //                 'message': input_text_comment.val(),
  //             },
  //             success: function (response) {
  //                 const data = JSON.parse(JSON.stringify(response.data[0]));
  //                 console.log(data);
  //                 console.log(data.comment_author);
  //                 input_text_comment.val("");

  //                 // function verif_img(v) {
  //                 //     if (v) {
  //                 //         return `<img id="container-comment-list-img-profile" src="http://127.0.0.1:8000${v}" />`;
  //                 //     } else {
  //                 //         return `<img id="container-comment-list-img-profile" src="http://127.0.0.1:8000/static/home/svg/user.svg" />`;
  //                 //     }
  //                 // }

  //                 // function verif_author(author_comment, author_post) {
  //                 //     if (author_comment === author_post) {
  //                 //         return `<span id="author_post_and_comment">Auteur</span>`;
  //                 //     }
  //                 // }

  //                 // content_comment = `<div class="container-comment-list">
  //                 //     ${verif_img(data.user_profile_img)}
  //                 //           <div class="comment-content-box">
  //                 //           <div class="comment-info-content">
  //                 //               <div class="comment-info-content-I">
  //                 //               <strong>${data.comment_author_first_name}
  //                 //               ${data.comment_author_last_name}
  //                 //               ${verif_author(data.comment_author, data.post_author)}

  //                 //               </strong>
  //                 //               <small>${data.comment_date_added}</small>
  //                 //               </div>
  //                 //               <p id="comment-author-profile-title">${data.user_profile_bio
  //                 //                 }</p>
  //                 //           </div>
  //                 //           <div class="comment-text-content">
  //                 //               <p>${data.comment_message}</p>
  //                 //           </div>
  //                 //           </div>
  //                 //       </div>
  //                 //   `;

  //                 //             aside_comment.append(content_comment);
  //             },
  //             error: function (error) {
  //                 console.log(error);
  //             },
  //             cache: false,
  //             contentType: false,
  //             processData: false,
  //         });
  //     });
  // });


  const form_comments = document.querySelectorAll(".form-comment-list-input-container-global");

  form_comments.forEach(form => {
    form.addEventListener("submit", (e) => {

      const input_text_comment = document.getElementById("input_message_comment-" + e.target.title).value;
      const input_hidden_post_comment = document.getElementById("input_hidden_post_comment-" + e.target.title).value;
      // alert(`${input_text_comment} - ${input_hidden_post_comment}`)
      const container_list_comment = document.getElementById("container-global-comment-list-" + e.target.title);
      e.preventDefault()

      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      const csrftoken = getCookie('csrftoken');

      // async function loadComments() {
      //     const res = await fetch("{% url 'post_list' %}", {
      //         method: 'POST',
      //         credentials: 'same-origin',
      //         headers: {
      //             'Accept': 'application/json',
      //             'X-Requested-With': 'XMLHttpRequest',
      //             'X-CSRFToken': csrftoken,
      //         },
      //         body: JSON.stringify({ 'message': input_text_comment, 'id_post': input_hidden_post_comment })
      //     })

      //     const data = await JSON.parse(res.json());
      //     const data1 = await data.comment_author;

      //     return data
      // }

      // let d = [];

      // try {
      //     d = loadComments();
      // } catch (e) {
      //     console.log(e);
      // }

      // console.log(d);

      fetch("{% url 'post_list' %}", {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
          'Accept': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({ 'message': input_text_comment, 'id_post': input_hidden_post_comment })
      })
        .then(response => {
          return response.json();
        }
        )
        .then(data => {
          console.log(data);
          console.log(data.comment_message);


          const verif_img = (v) => {
            if (v) {
              return `<img id="container-comment-list-img-profile" src="http://127.0.0.1:8000${v}" />`;
            } else {
              return `<img id="container-comment-list-img-profile" src="http://127.0.0.1:8000/static/home/svg/user.svg" />`;
            }
          };

          const verif_author = (author_comment, author_post) => {
            if (author_comment === author_post) {
              return `<span id="author_post_and_comment">Auteur</span>`;
            } else {
              return "";
            }
          };
          // 
          // 

          container_list_comment.innerHTML += `
            <div class="container-comment-list">
              ${verif_img(data.user_profile_img)}              <div class="comment-content-box">
                <div class="comment-info-content">
                  <div class="comment-info-content-I">
                    <strong>${data.comment_author_first_name}
                      ${data.comment_author_last_name}
                      ${verif_author(data.comment_author, data.post_author)}
                    </strong>
                    <small>${data.comment_date_added}</small>
                  </div>
                  <p id="comment-author-profile-title">${data.user_profile_bio}</p>
                </div>
                <div class="comment-text-content">
                  <p>${data.comment_message}</p>
                </div>
              </div>
            </div>`;
        })
      document.getElementById("input_message_comment-" + e.target.title).value = ""

    })
  });
</script>