{% load static %}

<div class="gestion-network">
    <h4>Gérer mon réseau</h4>
</div>

<div class="container-nav-statistics">
    <!-- Plus de suggestions pour vous -->
    <a class="nav-link-statistc" href="{% url 'friends:my_friends' %}">
        <span class="text">Relations</span>
        <span class="num">{{num_friends}}</span>
    </a>
    <a class="nav-link-statistc" href="{% url 'friends:invitation_received' %}">
        <span class="text">Invitation reçu</span>
        <span class="num">{{num_invitation_received}}</span>
    </a>
    <a class="nav-link-statistc" href="{% url 'friends:invitation_send' %}">
        <span class="text">Invitation envoyer</span>
        <span class="num">{{num_invitation_send}}</span>
    </a>

    <a class="nav-link-statistc">
        <span class="text">Evénements</span>
    </a>
    <a class="nav-link-statistc">
        <span class="text">Pages</span>
    </a>
    <a class="nav-link-statistc">
        <span class="text">Newsletter</span>
    </a>
</div>