{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load cloudinary %}

{% block title %} Messagerie {% endblock title %}

{% block style %}
<link rel="shortcut icon" href=" {% static 'home/svg/linkedin-cust.svg' %} " type="image/x-icon" />
<link rel="stylesheet" href=" {% static 'components/css/style.css' %}" />
<!-- <link rel="stylesheet" href=" {% static 'post/css/style.css' %}" /> -->
<link rel="stylesheet" href=" {% static 'chat/css/style.css' %}" />
{% endblock style %}

{% block navbar %} {% include 'components/navbar2.html' %} {% endblock navbar %}

{% block content %}
<main class="messagerie">
  <div class="container-left">
    {% include 'post/components/left.html' %}
  </div>

  <div class="container-main">
    <div class="header-chat">
      <a href="">
        <img id="back-chat" src="{% static 'home/svg/back.svg'%}">
      </a>
      <a href="{% url 'profiles:profile' pseudo=other_user.pseudo %}">
        <img id="img-profile" src="{% if other_user.img_profile %}
        {{ other_user.img_profile.url }}
        {% else %}
        {% static 'home/img/default-img-profile.jpg' %}
        {% endif %}">
      </a>
      <a href="{% url 'profiles:profile' pseudo=other_user.pseudo %}">
        <strong>
          {{other_user.user.first_name}} {{other_user.user.last_name}}
        </strong>
      </a>
    </div>

    <div class="main-chat">
      {% for chat in qs %}
      <div class="box-message-{% if chat.sender == request.user %}right{% else %}left{% endif %}">
        <div class="msg">
          <p>{{ chat.message }}</p>
          <em>{{ chat.date_created }}</em>
        </div>
      </div>
      {% endfor %}
    </div>

    <form action="" method="POST" id="form-chat">
      <textarea id="chat-textarea-msg" required></textarea>
      <button type="submit" id="chat-btn-send-msg">
        <img src="{% static 'home/svg/send.svg' %}">
      </button>
    </form>
  </div>
</main>
{% endblock content %}

{% block js %}
<script type="text/javascript" src=" {% static 'components/js/index.js' %} "></script>
<script type="text/javascript" src=" {% static 'notifications/js/notifications.js' %} "></script>

<script>
  const chat_textarea_msg = document.getElementById('chat-textarea-msg');
  const chat_form = document.getElementById('form-chat');
  const url_ajax_chat = "{% url 'chat:chat-load-data' id=other_user.user.id %}";
  let msg

  const send_message_chat = async () => {
    msg = chat_textarea_msg.value;
    if (msg === '') {
      return;
    } else {
      chat_textarea_msg.value = '';

      const formData = new FormData();
      formData.append("msg", msg);

      const request_chat = new Request(url_ajax_chat, {
        method: "POST",
        credentials: 'same-origin',
        headers: {
          Accept: "application/json",
          "X-Requested-With": "XMLHttpRequest",
          "X-CSRFToken": '{{ csrf_token }}',
        },
        body: formData,
      });

      fetch(request_chat)
        .then(messages => messages.json())
        .then(response => {
          const data_chat = response.data;
          try {
            for (const message of data_chat) {

              display_message_chat(message);
            }
          } catch (error) {
            display_message_chat(messages);
          }
        })
    }
  }


  const load_message_chat = async () => {
    const load_data = await fetch(url_ajax_chat)
      .then(messages => messages.json())
      .then(response => {
        const data_chat = response.data;
        // console.log(data_chat);
        try {
          for (const message of data_chat) {

            display_message_chat(message);
          }
        } catch (error) {
          display_message_chat(messages);
        }
      }).catch();
    return load_data
  }


  const display_message_chat = (message) => {
    const chat_container = document.querySelector('.main-chat')
    // console.log(message.msg);
    // console.log(message.sent);
    class_name = message.sent

    const div = document.createElement('div');
    div.classList.add(`box-message-${class_name}`)
    div.innerHTML = `
      <div class="msg">
        <p>${message.msg}</p>
        <em>${message.date_created}</em>
      </div>
    `
    chat_container.appendChild(div)
    div.scrollIntoView()
  }

  chat_form.addEventListener('submit', (e) => {
    e.preventDefault()
    // console.log('submit');
    send_message_chat()
  })

  setInterval(() => {
    load_message_chat()
  }, 3000)
</script>

{% endblock js %}