{% load static %}
{% load humanize %}
{% load cloudinary %}
{% load chat %}


<div class="container-all-post">
  {% include 'post/components/options.html' %}
  <div class="post-header">
    <a href="{% url 'profiles:profile' pseudo=post.author.profile.pseudo  %}">
      <div class="post-header-img">
        <img src="        
            {% if post.author.profile.is_fixture %}
              {{ post.author.profile.img_profile_str }}
            {% else %}
              {% if post.author.profile.img_profile %}
                {{ post.author.profile.img_profile.url }}
              {% else %}
                {% static 'home/img/default-img-profile.jpg' %}
              {% endif %}
            {% endif %}
          " />
      </div>
    </a>
    <div class="post-header-info">
      <strong><a href="{% url 'profiles:profile' pseudo=post.author.profile.pseudo  %}">{{post.author.first_name}}
          {{post.author.last_name}}</a></strong>
      <p>{{post.author.profile.bio}}</p>
      <p>{{post.date_created|naturaltime|timestr}}</p>
    </div>
  </div>

  <div class="post-text-content">
    <p>{{post.message|linebreaksbr}}</p>
  </div>

  {% if post.img %}
  <div class="post-img">
    <img src="{{post.img.url}}" alt="" />
  </div>
  {% endif %}

  {% comment %}
  <!-- <div class="post-footer">
    {% include 'post/components/count-likes-comments.html' %}
    <hr />
    <div class="box-action-icon">
      {% include 'post/components/like-form-btn.html' %}
      <button href="#" class="action-icon box-comment btn-container-comment-toggle" id="{{post.id}}">
        <img src="{% static 'home/svg/comment.svg' %}" class="icon-like-comment-share" id="{{post.id}}" />
        <span id="{{post.id}}" class="label-like-comment-share">Commenter</span>
      </button>
      <button href="#" class="action-icon box-share">
        <img src="{% static 'home/svg/share.svg' %}" class="icon-like-comment-share" />
        <span class="label-like-comment-share">Partager</span>
      </button>
    </div>
  </div> -->
  {% endcomment %}

  <div class="root-comments" data-post-id="{{ post.id }}"
    data-class-toggle-post-detail="{% if page != 'detail' %}1{% else %}0{% endif %}"
    data-url-add-update-comment="{% url 'comments:add-update-comment' %}" 
    data-csrf-token="{{ csrf_token }}"
    data-img-profile="{% if user.profile.is_fixture %}{{ user.profile.img_profile_str }}{% else %}{% if user.profile.img_profile %}{{ user.profile.img_profile.url }}{% else %}{% static 'home/img/default-img-profile.jpg' %}{% endif %}{% endif %}"
    data-url-get-data="{% url 'comments:get-comment-post' post_id=post.id %}" 
    data-nber-like="{{post.number_of_like}}"
    data-nber-comment="{{post.post_comment.count}}"
    data-is-like="{% if user not in post.liked.all %}0{% else %}1{% endif %}">
  </div>

  {% comment %}
  {% include 'comments/include/comment.html' %}
  {% endcomment %}
</div>