{% load static %}

<footer>
  <div class="footer-content">
    <div class="footer-content-box">
      <a class="footer-logo" href="{% url 'home:home' %}">
        <img src="{% static 'home/img/logo3.jpg' %}" alt="logo Macktireh">
      </a>
    </div>

    <div class="footer-content-box ul-container">
      <ul>
        <li><a href="https://www.linkedin.com/in/macktireh/" target="_blank"><img
              src="{% static 'home/svg/linkedin.svg' %}" alt="Compte linkedin"></a></li>
        <li><a href="https://github.com/Macktireh" target="_blank"><img class="ml"
              src="{% static 'home/svg/github.svg' %}" alt="Compte github"></a>
        </li>
        <li><a href="https://twitter.com/macktireh" target="_blank"><img src="{% static 'home/svg/twitter.svg' %}"
              alt="Compte twitter"></a>
        </li>
      </ul>
    </div>
  </div>
  <!-- <hr>    -->
  <div class="footer-bottom">
    <p>Mackd<img src=" {% static 'home/svg/linkedin.svg' %} "> &copy;2022 Macktireh AS | <a href="">Mentions
        légales</a></p>
  </div>
</footer>