{% load static %}
{% load cloudinary %}

<div class="nav-container">
  <div>
    <a class="logo logo2" href="{% url 'home:home' %}">
      <img src=" {% static 'home/svg/linkedin-cust.svg' %} " alt="logo">
    </a>
  </div>

  <nav>
    <ul class="nav-menu">
      {% if not user.is_authenticated %}
      <a href="{% url 'sign_in' %}" class="nav-item">
        <div class="nav-text">
          <img class="nav-img" src="{% static 'home/svg/user.svg' %}" alt="">
          <span class="animation {% if start_animation == 'sign_in' %}start-animation{% endif %}"></span>
          <span class="nav-text-span">Connexion</span>
        </div>
      </a>
      <a href="{% url 'sign_up' %}" class="nav-item">
        <div class="nav-text">
          <img class="nav-img" src="{% static 'home/svg/signup.svg' %}" alt="">
          <span class="animation {% if start_animation == 'sign_up' %}start-animation{% endif %}"></span>
          <span>S'inscrire</span>
        </div>
      </a>
      {% else %}
      <a href="{% url 'post:post_list' %}" class="nav-item">
        <div class="nav-text">
          <img class="nav-img" src="{% static 'home/svg/home.svg' %}" alt="">
          <span class="animation  {% if start_animation == 'feed' %}start-animation{% endif %}"></span>
          <span class="nav-text-span">Acceuil</span>
        </div>
      </a>
      <a href="{% url 'friends:my_network' %}" class="nav-item">
        <div class="nav-text">
          <img class="nav-img" src="{% static 'home/svg/friends.svg' %}" alt="">
          <span class="animation {% if start_animation == 'my_network' %}start-animation{% endif %}"></span>
          <span class="nav-text-span">Réseau</span>
        </div>
      </a>
      <a href="{% url 'chats:chat' %}" class="nav-item nav-nofit">
        <span id="nav-nofit-alert-chat"></span>
        <div class="nav-text">
          <img class="nav-img" src="{% static 'home/svg/chat.svg' %}" alt="">
          <span class="animation {% if start_animation == 'chat' %}start-animation{% endif %}"></span>
          <span class="nav-text-span">Messagerie</span>
        </div>
      </a>
      <a href="{% url 'notifications:notif' %}" class="nav-item nav-nofit" id="nav-nofit-icon">
        <span id="nav-nofit-alert"></span>
        <div class="nav-text">
          <img class="nav-img" src="{% static 'home/svg/notification.svg' %}" alt="">
          <span class="animation {% if start_animation == 'notif' %}start-animation{% endif %}"></span>
          <span class="nav-text-span">Notifications</span>
        </div>
      </a>
      {% endif %}
    </ul>
  </nav>

  {% if user.is_authenticated %}

  <div class="nav-profil">
    <div class="nav-box-profil">
      <img src="        
      {% if user.profile.img_profile %}
      {{ user.profile.img_profile.url }}
      {% else %}
      {% static 'home/svg/user.svg' %}
      {% endif %}" alt="">
    </div>
    <div class="drop-down-list">
      <span>Vous</span>
      <img src="{% static 'home/svg/down-arrow.svg' %}" class="down-arrow">
    </div>
  </div>

  <div class="list-box">
    <a href="{% url 'profiles:profile' pseudo=user.profile.pseudo %}">
      <img src="{% static 'home/svg/user.svg' %}">
      <span class="text">Profile</span>
    </a>
    {% if user.is_staff %}
    <a href="{% url 'admin:index' %}" target="_blank">
      <img src="{% static 'home/svg/admin.svg' %}">
      <span class="text">Administration</span>
    </a>
    {% endif %}
    <a href="{% url 'logout' %}">
      <img src="{% static 'home/svg/logout.svg' %}">
      <span class="text">Déconnexion</span>
    </a>
  </div>
  {% endif %}
</div>