{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<style>
  @media screen and (max-width: 500px) {
    .nav-text-span {
      display: none;
    }
  }
    
  
</style>

<div class="nav-container">
  <div>
    <a class="logo logo1" href="{% url 'home:home' %}" style="color: #1abc9c">
      Mack<img src=" {% static 'home/svg/linkedin-cust.svg' %} " alt="logo">
    </a>
  </div>
  <div>
    <nav style="padding-right: 15px">
      <ul class="nav-menu">
        {% if not user.is_authenticated %}
        <a href="{% url 'sign_in' %}" class="nav-item">
          <div class="nav-text">
            <img class="nav-img" src="{% static 'home/svg/user.svg' %}" alt="">
            <span class="animation {% if start_animation == 'sign_in' %}start-animation{% endif %}"></span>
            <span class="nav-text-span">{% translate 'Connexion' %}</span>
          </div>
        </a>
        <a href="{% url 'sign_up' %}" class="nav-item">
          <div class="nav-text">
            <img class="nav-img" src="{% static 'home/svg/signup.svg' %}" alt="">
            <span class="animation {% if start_animation == 'sign_up' %}start-animation{% endif %}"></span>
            <span>{% translate 'Inscription' %}</span>
          </div>
        </a>
        <a href="/{% if LANGUAGE_CODE == 'fr' %}en{% else %}fr{% endif %}/" class="nav-item">
          <div class="nav-text">
            <img class="nav-img" src="{% static 'home/svg/language.svg' %}" alt="">
            <span class="animation {% if start_animation == 'sign_up' %}start-animation{% endif %}"></span>
            <!-- <span>{% translate 'Inscription' %}</span> -->
          </div>
        </a>
        {% endif %}
      </ul>
    </nav>

    <div class="hamburger-nav-profil">
      <div class="hamburger">
        <span class="hamburger__bar"></span>
        <span class="hamburger__bar"></span>
        <span class="hamburger__bar"></span>
      </div>
    </div>
  </div>
</div>