{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %} {% endblock title %}| Mackdin</title>

  <!-- Boxicons CSS -->
  <!-- <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'> -->

  <!-- My Style CSS -->
  {% block style %} {% endblock style %}
</head>

<body>
    <!-- Navbar -->
  {% block navbar %} {% endblock navbar %}

  <!-- Main -->
  <div class="body-container">
    {% block content %} {% endblock content %}
  </div>

  <!-- Footer -->
  {% block footer %} {% endblock footer %}

  <!-- Javascript -->
  {% get_current_language as LANGUAGE_CODE %}
  <input type="text" id="language_code" value="{{ LANGUAGE_CODE }}" hidden>
  {% block js %} {% endblock js %}
</body>

</html>