<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      background-color: #333;
      color: #fff;
    }

    #app {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .mens,
    .womens {
      display: flex;
      flex-direction: column;
    }
    .images {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  </style>
</head>

<body>
  <h2>{{l}}</h2>

  <div id="app">
    {% comment %} 
    
    <!-- <div class="mens">
      {% for men in mens %}
      <h1>{{ men.id }}</h1>
      <img src="{{men.img}}" alt="">
      {% endfor %}
    </div>
    <div class="womens">
      {% for women in womens %}
      <h1>{{ women.id }}</h1>
      <img src="{{women.img}}" alt="">
      {% endfor %}
    </div> -->
    {% endcomment %}
    
    <div class="images">
      {% for image in images %}
      <div>
        <img src="{{image}}" alt="">
      </div>
      {% endfor %}
    </div>
  </div>

</body>

</html>