{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load cloudinary %}


{% block title %} {% if page == 'notif' %} Notifications {% else %} Fil d'actualité {% endif %} {% endblock title %}

{% block style %}
<link rel="shortcut icon" href=" {% static 'home/svg/linkedin-cust.svg' %} " type="image/x-icon" />
<link rel="stylesheet" href=" {% static 'components/css/style.css' %}" />
{% if page != 'notif' %}
<link rel="stylesheet" href=" {% static 'comments/css/style.css' %} " />
{% else %}
<link rel="stylesheet" href=" {% static 'notifications/css/style.css' %} " />
{% endif %}
<link rel="stylesheet" href=" {% static 'post/css/style.css' %}" />
{% endblock style %}

{% block navbar %} {% include 'home/components/navbar2.html' %} {% endblock navbar %}


{% block content %}
<main class="main-list_post">
  <div class="container-left">
    {% include 'post/components/left.html' %}
  </div>
  <div class="container-main" style="{% if page == 'detail' %} justify-content: start; {% endif %}" >
    {% if page == 'detail' %}

    {% include 'post/components/post-detail.html' %}

    {% elif page == 'notif' %}

    {% include 'notifications/list-notification.html' %}

    {% else %}

    {% include 'post/components/add_post.html' %}
    {% include 'post/components/post-detail.html' %}

    {% endif %}
    <input type="hidden" id="input_hidden_url_delete_comment" value="{% url 'comments:delete-comment' %}">
  </div>
  <div class="container-right">
    <ul class="container-aside-1">
      <h4>Actualités</h4>
    </ul>
  </div>
</main>
{% endblock content %}

{% comment %}
{% block footer %} {% include 'home/components/footer.html' %} {% endblock footer %}
{% endcomment %}

{% block js %} {% include 'post/components/block-js.html' %} {% endblock js %}