{% extends 'base.html' %}
{% load static %}


{% block style %}
<link rel="shortcut icon" href=" {% static 'components/img/linkedin-cust.svg' %} " type="image/x-icon">
<link rel="stylesheet" href="{% static 'users/css/style.css' %}">
{% endblock style %}

{% block title %} Réinitialisation du mot de passe {% endblock title %}

{% block content %}
<div class="form-container-pass">
  <div class="title-pass">
    <h3>Réinitialisation du mot de passe envoyée</h3>
    <p class="p-info">Nous vous avons envoyé par email des instructions pour définir votre mot de passe, si un compte
      existe avec l'e-mail que vous avez saisi. Vous devriez les recevoir sous peu.
      <br>
      <br>
      Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit et
      vérifiez votre dossier spam.
    </p>
  </div>
</div>
{% endblock content %}