{% extends 'base.html' %}
{% load static %}


{% block style %}
<link rel="shortcut icon" href=" {% static 'components/img/linkedin-cust.svg' %} " type="image/x-icon">
<link rel="stylesheet" href="{% static 'users/css/style.css' %}">
{% endblock style %}

{% block title %} Réinitialisation du mot de passe terminée {% endblock title %}

{% block content %}
<div class="form-container">
  <div class="title-form">
    <h3>Réinitialisation du mot de passe terminée</h3>
    <p class="p-info">Votre mot de passe a été bien défini. Vous pouvez continuer et vous connecter maintenant.</p>
  </div>
  <div class="sign_link">
    <p><a href="{% url 'sign_in' %}">Connexion</a></p>
  </div>
</div>
{% endblock content %}