{% extends 'base.html' %}
{% load static %}


{% block style %}
<link rel="shortcut icon" href=" {% static 'components/img/linkedin-cust.svg' %} " type="image/x-icon">
<link rel="stylesheet" href="{% static 'users/css/style.css' %}">
{% endblock style %}

{% block title %} Réinitialisation du mot de passe {% endblock title %}

{% block content %}
<div class="form-container">
  <div class="title-form">
    <h3>Réinitialisation du mot de passe</h3>
    <p class="p-info">Mot de passe oublié ? Entrez votre adresse email ci-dessous et nous vous enverrons par e-mail des
      instructions pour en définir une nouvelle.</p>
  </div>

  <form method="POST" entity="multipart/form-data">{% csrf_token %}
    <div class="email-container">
      <div class="txt_field">
        {{ form.email }}
        <span class="span-border-bottom"></span>
        <label>{{ form.email.label }} *</label>
      </div>
    </div>
    <span class="content-error"></span>
    <input type="submit" value="Envoyer">
    <div class="sign_link">
      <p>Revenir au page <a href="{% url 'home:home' %}">d'acceuil</a></p>
    </div>
  </form>
</div>
{% endblock content %}