{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block style %}
<link rel="shortcut icon" href=" {% static 'home/svg/linkedin-cust.svg' %} " type="image/x-icon">
<link rel="stylesheet" href="{% static 'users/css/style.css' %}">
{% endblock style %}

{% block title %} {% translate "S'identifier" %} {% endblock title %}

{% block content %}
<main>
  <div class="form-container">
    <div class="title-form">
      <h1>{% translate "S'identifier" %}</h1>
    </div>

    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="message-{{ message.tags }}" {% endif %}>
      <p>{{ message|linebreaksbr }}</p>
    </div>
    {% endfor %}
    {% endif %}

    {% include 'users/components/btn-social-auth.html' %}

    <div class="sep">
      <hr />
      <span>{% translate "ou" %}</span>
    </div>

    <form method="POST">
      {% csrf_token %}
      <div class="txt_field">
        <input type="text" name="email" required autocomplete="off">
        <span class="span-border-bottom"></span>
        <label>Email</label>
      </div>

      <div class="txt_field">
        <input type="password" name="password" required autocomplete="off">
        <span class="span-border-bottom"></span>
        <label>{% translate "Mot de passe" %}</label>
      </div>

      <a href="{% url 'reset_password' %}" class="pass">{% translate "Mot de passe oublié ?" %}</a>
      <input type="submit" value="Se connecter">
      <div class="sign_link">
        {% translate "Vous n'êtes pas encore inscrit ?" %} <a href="{% url 'sign_up' %}">{% translate "S'inscrire" %}</a>
        <p><a href="{% url 'home:home' %}">{% translate "Revenir à la page d'accueil" %}</a></p>
      </div>
    </form>
  </div>
</main>
{% endblock content %}


{% block js %}

{% endblock js %}